<%- include('../partials/header') %>
  <body class="loaded">
    <!-- Header Section -->
    <section>
      <div class="main-section">
        <!-- Navigation -->
        <nav>
          <!-- Heading -->
          <div class="heading">
            <h1>All Exercises</h1>
          </div>
          <!-- Navigation Links -->
          <div class="nav-wrapper">
            <ul>
              <li><a href="../routines/" class="button">Add Routine</a></li>
              <li><a href="/workouts/new" class="button">Add a Workout</a></li>
              <li><a href="/workouts" class="button">back</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>

    <!-- Main Content Section -->
    <section>
      <h1 class="title-size">Workouts</h1>
      <!-- Table of Workouts -->
      <table>
        <tr>
          <th>Exercise Name</th>
          <th>Muscle Group</th>
          <th>Difficulty</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
        <!-- Loop through workouts -->
        <% workouts.forEach(m => { %>
        <tr>
          <td><%= m.name %></td>
          <td><%= m.muscle %></td>
          <td><%= m.difficulty %></td>
          <td>
            <%= (new Date(m.date)).toString().split(' ').slice(0, 5).join(' ')
            %>
          </td>
          <td>
            <!-- Form for deleting workout -->
            <form
              action="/workouts/exercise/<%= m._id %>?_method=DELETE"
              method="POST"
            >
              <button class="btn-2" type="submit">Delete</button>
            </form>
            <!-- Form for editing workout -->
            <form method="get" action="/workouts/exercise/<%= m._id %>/edit">
              <button class="btn-2" type="submit">Edit</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </table>
    </section>
  </body>
</html>
